Source: powerstat
Section: admin
Priority: optional
Maintainer: Colin King <colin.king@canonical.com>
Uploaders: Kamal Mostafa <kamal@whence.com>
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 7)

Package: powerstat
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: powerstat measures power consumed by a laptop
 Powerstat measures the power consumption of a mobile PC that has
 a battery power souce.  The output is like vmstat but also shows
 power consumption statistics.  At the end of a run, powerstat 
 will calculate the average, standard deviation and min/max of
 the gathered data.

