Source: powerstat
Rules-Requires-Root: no
Section: admin
Priority: optional
Maintainer: Colin Ian King <colin.i.king@gmail.com>
Standards-Version: 4.6.1
Build-Depends: debhelper (>= 13),
               debhelper-compat (=13)
Homepage: https://github.com/ColinIanKing/powerstat

Package: powerstat
Architecture: linux-any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: laptop power measuring tool
 Powerstat measures the power consumption of a mobile PC that has
 a battery power source.  The output is like vmstat but also shows
 power consumption statistics.  At the end of a run, powerstat
 will calculate the average, standard deviation and min/max of
 the gathered data.
